<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="script.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="row justify-content-between">
                <p>ENI-Encheres</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row justify-content-center">
            <h1>Détail vente</h1>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="https://pbs.twimg.com/profile_images/790942822853640194/bvZIVYNp.jpg" height="250px" weight="250px" />
            </div>
            <div class="col-8">
                <div class="form-group row">
                    <p>PC Gamer pour travailler</p>
                </div>
                <div class="form-group row">
                    <p>Description :</p>
                    <p>Bonjour je suis une description</p>
                </div>
                <div class="form-group row">
                    <p>Catégorie</p>
                    <p>Informatique</p>
                </div>
                <div class="form-group row">
                    <p>Meilleure offre :</p>
                    <p>210 pts par Bob</p>
                </div>
                <div class="form-group row">
                    <p>Mise à prix :</p>
                    <p>185 pts</p>
                </div>
                <div class="form-group row">
                    <p>Fin de l'enchère :</p>
                    <p>09/10/2018</p>
                </div>
                <div class="form-group row">
                    <p>Retrait :</p>
                    <div>
                        <p>10 allée des Alouettes</p>
                        <p>44800 Saint Herblain</p>
                    </div>
                </div>
                <div class="form-group row">
                    <p>Vendeur :</p>
                    <p>jojo44</p>
                </div>
                <div class="form-group row">
                    <p>Ma proposition :</p>
                    <input type="number" />
                    <button type="submit" class="btn btn-primary">Enchérir</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
